*{
    padding: 0;
    margin: 0;
    border: 0;
}

* , *::after , *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
}

a, a:visited {
    text-decoration: none;
  }

  img {
    vertical-align: top;
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  @font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/TTLakes-Regular.woff2") format("woff2"), url("../fonts/TTLakes-Regular.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/TTLakes-Medium.woff2") format("woff2"), url("../fonts/TTLakes-Medium.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/TTLakes-Bold.woff2") format("woff2"), url("../fonts/TTLakes-Bold.woff") format("woff");
    font-display: swap;
  }
  
  body{
    font-family: "TT lakes", sans-serif;
    background: #f8f8f8;
    color: #1b1c21;
    font-size: 16px;
  }

  .button-rounded {
    border-radius: 50%;
  }

  .wrapper{
    min-height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;

  }

  .upper-menu__container{
    padding: 0 16px;
    margin: 0 auto;
    height: 100%;
  }

  .upper-menu{
    background-color: #FFFFFF;
  }

  .upper-menu__icons{
    min-height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .upper-menu__divider{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
  }

  .upper-menu__divider::before {
    content: "";
    display: block;
    height: 32px;
    width: 2px;
    margin: 0 2px;
    background: #EAEAEA;
    border-radius: 1px;
  }

  .upper-menu__divider--mobile-hidden::before {
    display: none;
  }

  .divider-vertical {
    height: 32px;
    width: 2px;
    margin: 0 2px;
    background: #EAEAEA;
    border-radius: 1px;
  }

  .upper-menu__logo-link{
    margin-right: auto;
  }

  .services{
    margin-top: 24px;
  }

  .services__top{
    position: relative;
  }

  .services__top::before {
    content: "";
    position: absolute;
    left: -4px;
    display: block;
    height: 100%;
    width: 8px;
    border-radius: 20px;
    background-color: #41F6D7;
  }

  .services__top-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .services__title{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 1.43em;
    padding-left: 12px;
  }

  .services__button{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 1.5em;
    font-size: 16px;

  }

  .button-rounded{
    background-color: #F8F8F8;
  }

  .services__btn-box {
    display: none;
  }

.services__tabline{
    margin-top: 24px;
    padding-left: 16px;
    position: relative;
}

  .services__list{
    display: flex;
    align-items: center;
    overflow-x: auto;

  }

  .services__item:hover{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
  }

  .services__item::marker{
    content: none;
  }

  .services__tabline::after {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
    top: 0;
    right: 0;
  }

  .services__tabline-btn{
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    background-color: transparent;
    white-space: nowrap;
    padding: 8px 16px;
  }

  /* .services__tabline-btn--active {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFF;
  } */

  .services__descr {
    margin-top: 24px;
  }
  .services__descr-inner {
    display: block;
  }

  .services__text {
    font-size: 14px;
    line-height: 1.28em;
    letter-spacing: 0.2px;
    font-weight: 400;
  }

  .services__read-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    margin-top: 16px;
    background-color: #F8F8F8;
  }

  .services__read-btn::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../practice/images/expand.svg");
  }

  .services__img-box {
    margin: 0 -16px;
    margin-top: 16px;
  }

  .services__img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media(min-width:768px){
    .upper-menu__container{
        padding: 0 24px;
    }
    .upper-menu__divider{
        background-color: white;

    }

    .mobile-hidden {
        display: block;
      }
    

      .upper-menu__divider--mobile-hidden::before {
        display: block;
      }

      .services__tabline {
        margin-top: 32px;
        padding-left: 24px;
      }

      .services__descr-inner {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 48px;
      }

      .services__text {
        line-height: 1.42em;
      }

      .services__img-box {
        margin: 0;
        flex-basis: 50%;
        max-width: 531px;
      }

    }

  

  @media (min-width: 1120px){

     .upper-menu__container{
    padding: 0 32px;
     }
     .upper-menu__divider{
        background-color: white;

    }


     .mobile-tablet-hidden {
        display: block;
      }

      header{
        display: none;
      }

      .services{
        margin-top: 42px;
      }

      .services__btn-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
      }

      .services__tabline {
        margin-top: 8px;
        padding-left: 32px;
      }

}